body {
	/*background: url('../img/bedge_grunge.png') repeat;*/
	/*font-family: 'Lato', sans-serif;*/
	/*font-size: 16px;*/
	/*line-height: 1.4em;*/
	/*overflow-x: hidden;*/
}

p a {
	border-bottom: none;
}

.wsu-logo {
        max-width: 260px; }

#reference {
display: none;
}

#lib_hours  {
display: none;
}

#lib_hours h3 {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 0.875em;
}

#lib_hours p {
	margin: 0;
	font-size: 0.875em;
}

.ribbon-wrapper-green {
width: 145px;
height: 128px;
overflow: hidden;
position: absolute;
top: -3px;
right: -3px;
}

.ribbon-green {
font: bold 14px Sans-Serif;
color: #333;
text-align: center;
-webkit-transform: rotate(45deg);
-moz-transform:    rotate(45deg);
-ms-transform:     rotate(45deg);
-o-transform:      rotate(45deg);
position: relative;
padding: 5px 0;
left: -5px;
top: 45px;
width: 190px;
background-color: #FFCC33;
background-image: -webkit-gradient(linear, left top, left bottom, from(#fadb7d), to(#FFCC33)); 
background-image: -webkit-linear-gradient(top, #fadb7d, #FFCC33); 
background-image:    -moz-linear-gradient(top, #fadb7d, #FFCC33); 
background-image:     -ms-linear-gradient(top, #fadb7d, #FFCC33); 
background-image:      -o-linear-gradient(top, #fadb7d, #FFCC33); 
color: #eee;
-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
-moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.5);
box-shadow:         0px 0px 3px rgba(0,0,0,0.5);
}

.ribbon-green:before, .ribbon-green:after {
content: "";
border-top:   3px solid #6e8900;   
border-left:  3px solid transparent;
border-right: 3px solid transparent;
position:absolute;
bottom: -33px;
}

.ribbon-green:before {
left: 0;
}
.ribbon-green:after {
right: 0;
}

.ribbon-green a,
.ribbon-green a:visited {
	color: #333;
	text-decoration: none;
}

.clear-search {
	z-index: 20;
	position: absolute;
	top: 18px;
	left: 400px;
	font-size: 20px;
	display: block;
	background-color: #fff;
	border: none;
	color: #ddd;
}

i {
	margin-right: 5px;
	font-size: 18px;
}

.trans {
    position: relative;
    left: 0;
    top: 300px;
    z-index: -5;
}

/*.header {
	background-color: #999;
	width: 100%;
}

header {
	background-color: #062722;
	min-height: 200px;
	z-index: -1;
	position: relative;
}

header img {
	top: 30px;
	left: -75px;
	margin-left: 50%;
	position: relative;
}*/

a,
a:visited,
a:hover,
a:active {
	color: #006666;
}

.container {
	min-width: 90%;
}

h4 {
	/*background-color: #ffdf80;*/
	background: #dee6e6;
	margin-top: 0;
	padding: 15px;
	font-size: 20px;
	border-bottom: 1px solid #eee;
}

/* Search Box */

/*input[class=input-large] {
  width: 75%;
  height: 44px ;
 // line-height: 1.4em;
  padding: 11px 19px;
  font-size: 17.5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;     
}

input[type="text"]:focus {
	outline: none;
}

.form-wrapper {
	padding: 8px;
	margin: 0 auto;
	overflow: hidden;
	border-width: 1px;
	border-style: solid;
	border-color: #dedede #bababa #aaa #bababa;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;    
	background-color: #f6f6f6;
	position: relative;
	z-index: 10;
	top: -30px;
}

.form-wrapper #search {
	height: 20px;
	padding: 10px 5px;
	float: left;    
	font: bold 16px 'lucida sans', 'trebuchet MS', 'Tahoma';
	border: 1px solid #ccc;
	-moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;      
}

.form-wrapper #search:focus {
	outline: 0; 
	border-color: #aaa;
	-moz-box-shadow: 0 1px 1px #bbb inset;
	-webkit-box-shadow: 0 1px 1px #bbb inset;
	box-shadow: 0 1px 1px #bbb inset;  
}

.form-wrapper #search::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
}

.form-wrapper #search:-moz-placeholder {
	color: #999;
	font-weight: normal;
}

.form-wrapper #search:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
} 

.form-wrapper #submit {
	z-index: 10;
	position: absolute;
	float: right;   
	border: 1px solid #00748f;
	height: 42px;
	width: 100px;
	padding: 0;
	cursor: pointer;
	font: bold 15px Arial, Helvetica;
	color: #fafafa;
	text-transform: uppercase;    
	background-color: #0c5449;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;      
	text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
}
  
.form-wrapper #submit:hover,
.form-wrapper #submit:focus {		
	background-color: #107263;
}	
  
.form-wrapper #submit:active {
	outline: 0;    
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;    
}
  
.form-wrapper #submit::-moz-focus-inner {
	border: 0;
}

.examples {
	font-size: 12px;
	text-align: center;
	word-spacing: 3px;
	margin-top: -20px;
	margin-bottom: 30px;
}*/

.result_div{
	margin-bottom:10px;
}

.box_loading_animation{
	background-image: url(../img/ajax_loading.gif);
	background-repeat: no-repeat;
	height:20px;		
	display:none;
	margin: 20px 20px 0 20px;
}

#columns {
	-webkit-column-count: 1;
	-webkit-column-gap: 35px;
	-webkit-column-fill: auto;
	-moz-column-count: 1;
	-moz-column-gap: 35px;
	-moz-column-fill: auto;
	column-count: 1;
	column-gap: 35px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	width: 100%;
	background: #FEFEFE;
	border: 1px solid #eee;
	/*border: 2px solid #FAFAFA;*/
	/*border: 1px solid #ddd;*/
	/*box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);*/
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	/*padding: 15px;*/
	/*padding-bottom: 5px;*/
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;

	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.box_results {
	padding: 5px 20px 20px 20px;
	/*font-family: 'Roboto', sans-serif;*/
	font-weight: normal;
	font-size: 1em;
	letter-spacing: .005em;
}

.summonjs-title {
	margin-bottom: 10px;
	font-size: 1em;
}

#lib_guides .box_results {
	padding: 5px 20px 20px 20px;
	/*font-family: 'Roboto', sans-serif;*/
	font-weight: 400;
	font-size: 1em;
	letter-spacing: .005em;
}

#ref_res, #summonjs, #lib_guides, #books .no-res, #journals .no-res, #books a em, #journals a em, #site_search a em, #api_search_guides_iid692 a em, #databases a em, #digi_commons a em {
	font-size: 0.875em;
}

#ref_res p {
	font-size: 1em;
	margin-bottom: 1em;
}

#databases .result-details p {
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	font-weight: normal;
}

#digi_commons .result-details {
	font-size: 0.875em;
	font-weight: normal;
	margin-bottom: 0;
}

#summonjs, 
#reference,
#databases,
#books,
#journals,
#lib_guides,
#site_search,
#digi_commons,
#digi_collections {
	margin-bottom: 2em;
}

#lib_hours h4,
#summonjs h4, 
#databases h4, 
#books h4,
#journals h4,
#lib_guides h4,
#site_search h4,
#digi_collections h4,
#digi_commons h4,
#reference h4 {
	margin-bottom: 10px;
}

.indiv-result {
	padding-bottom: 0.875em;
	margin-bottom: 0.875em;
	border-bottom: 1px solid #eee;
}

.result-details {
	/*padding-left: 10px;*/
	margin-top: 10px;
	font-size: .8em;
	/*color: #666;*/
	line-height: 1.4em;
	/*font-family: 'Roboto', sans-serif;*/
	font-weight: 300;
}

.result-details p {
	margin: 0;
	padding: 0; 
}

p.title {
	margin:0;
}

#api_search_guides_iid692 a:first-child {
	margin-top: 0;
	border:none;
	padding-top: 0;
}

#api_search_guides_iid692 a {
	display: block;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #eee;
	font-size: 1em;
	margin-bottom: 10px;
	font-weight: 400;
}

#api_search_guides_iid692 a i {
	font-size: 1em;
}

#api_search_guides_iid692 a:after {
	color: #666;
	font-size: .8em;
	line-height: 1.4em;
	font-weight: 300;
}

#no_results p {
	margin-bottom: 0;
}

#digi_collections .indiv-result {
	clear: both;
	border-bottom: none;
	padding-top: 0.875em;
	border-top: 1px solid #eee;
}
#digi_collections .indiv-result:nth-child(1) {
	border-top: none;
	padding-top: 0;
}
#digi_collections .indiv-result a {
	font-size: 0.9em;
}
#digi_collections .dc-img {
	width: 40%;
	float: right;
	margin-left: 1em;
	margin-bottom: 1em;
}
#digi_collections p {
	clear:both;
	margin-bottom: 0;
	border-top: 1px solid #eee;
	padding-top: 0.875em;
}

@media (max-width: 448px) {
#digi_collections .dc-img, #digi_collections a {
	width: 100%;
}
/*input[class=input-large] {
  width: 215px;
    border-color: #eee;     
}

.form-wrapper {
	width: 290px;
}

.form-wrapper #submit {
	left: 220px;
	width: 60px;
}
.clear-search {
	left: 195px;
}

#searchForm {
	padding: 0;
}
.ribbon-wrapper-green {
	display: none;
}*/

#search-results,
.col-md-6 {
	padding: 0;
}
h4 {
	font-size: 1em;
}
}

@media (min-width: 380px) and (max-width: 479px) {
input[class=input-large] {
  width: 275px;  
    border-color: #eee;  
}

.form-wrapper {
	width: 350px;
}

.form-wrapper #submit {
	left: 280px;
	width: 60px;
}
.clear-search {
	left: 255px;
}

#searchForm {
	padding: 0;
}
.ribbon-wrapper-green {
	display: none;
}
#search-results,
.col-md-6 {
	padding: 0;
}
}

@media (min-width: 480px) and (max-width: 599px) {
input[class=input-large] {
  width: 305px;   
  border-color: #eee;  
}

.form-wrapper {
	width: 380px;
}

.form-wrapper #submit {
	left: 310px;
	width: 60px;
}
.clear-search {
	left: 285px;
}

#searchForm {
	padding: 0;
}
.ribbon-wrapper-green {
	display: none;
}
#search-results,
.col-md-6 {
	padding: 0;
}
}

@media (min-width: 600px) and (max-width: 767px) {
input[class=input-large] {
  width: 385px;   
  border-color: #eee;  
}

.form-wrapper {
	width: 500px;
}

.form-wrapper #submit {
	left: 390px;
}
.clear-search {
	left: 350px;
}
#boxes_left, #boxes_middle {
	padding: 0;
}
}

@media (max-width: 896px) {
.wsu-logo {
	max-width: 100%; }

}
@media (min-width: 768px) and (max-width: 896px) {
h4 {
	font-size: 14px;
}

input[class=input-large] {
  width: 385px;   
  border-color: #eee;  
}

.form-wrapper {
	width: 500px;
}

.form-wrapper #submit {
	left: 390px;
}
.clear-search {
	left: 360px;
}
#boxes_left, #boxes_middle {
	padding: 0;
}
}

@media (min-width: 896px) and (max-width: 1199px) {
i {
	font-size: 15px;
}

h4 {
	font-size: 17px;
}

.box_results {
	font-size: 14px;
}

input[class=input-large] {
  width: 685px;  
  border-color: #eee;   
}

.form-wrapper {
	width: 800px;
}

.form-wrapper #submit {
	left: 690px;
}
.clear-search {
	left: 660px;
}
#boxes_middle {
	padding-right: 0;
}
}

@media (min-width: 1200px) {
.bento-search {
        float: right; }

input[class=input-large] {
  width: 985px;   
}

.form-wrapper {
	width: 1100px;
}

.form-wrapper #submit {
	left: 991px;
}
.clear-search {
	left: 960px;
}
}
.footer a {
	color: #ddd;
}
.navbar-right>li>a{
	color: #fff;
}

@media (min-width: 1530px) {
.bento-search {
        min-width: 80%; }
}

@media (min-width: 1920px) {
.bento-search  {
	min-width: 83%; }
}
